@font-face {
  font-family: "Rubik One";
  src: url("RubikOne-Regular.woff2") format("woff2"),
    url("RubikOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
